body {
  background-color: rgb(238, 255, 235);
}

.App {
  text-align: center;
}

.card-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  margin: 2%;
  display: inline-block;
  background-color: black;
  box-sizing: border-box; 
  border: 20px solid rgb(0, 0, 0); 
}

img {
  width: 200px;
}

h2 {
  color: rgb(238, 255, 235);
  font-family: 'Courier New', Courier, monospace;
}

p {
  color: rgb(238, 255, 235);
  font-family: 'Courier New', Courier, monospace;
}
